.minidivs{
    background-image: url(E:\React\chakraUI\src\assets\Pictures\Login-page-imagr.jpg);
    background-size: cover;
}

.backgroundpicdiv{
    background-image: url(E:\React\chakraUI\src\assets\Pictures\pexels-ketut-subiyanto-5037345.jpg);
}